@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Montserrat:wght@200;400&family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 90px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.logo {
    width: 160px;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo a {
    text-decoration: none;
    color: black;
    font-family: 'Lexend', sans-serif;
}

.logo a img {
    width: 150px;
}

nav>ul {
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
}

nav>ul li a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: .2s;
    font-family: 'Lexend', sans-serif;
}

nav>ul li a:hover {
    color: goldenrod;
    transition: .2s;
}

nav>ul .B-Xizmat {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav>ul .B-Xizmat:hover .boshqa-xizmatlar {
    opacity: 1;
    transform: scale(1);
    transition: .5s;

}

.boshqa-xizmatlar {
    width: 290px;
    height: 280px;
    background-color: #fff;
    top: 49px;
    margin-left: -10px;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    transition: .5s;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid red; */
    z-index: 19;
}

.boshqa-xizmatlar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boshqa-xizmatlar ul li {
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
}

.boshqa-xizmatlar ul li a {
    font-size: 13px;
    font-family: 'Lexend', sans-serif;
}

.boshqa-xizmatlar ul li img {
    width: 50px;
}

.login-btn {
    color: green;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
}

.signup-btn {
    padding: 10px 20px;
    border-radius: 6px;
    background: green;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
}

.menu {
    display: none;
}

.sidebar {
    display: none;
}

.boglanishCard {
    width: 100%;
    height: 90vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.B_card {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}

form {
    width: 500px;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid blue; */
    padding: 0 50px;
    border-radius: 15px;
    transition: .4s;
    font-family: 'Lexend', sans-serif;
    background-color: white;
}

form input {
    height: 35px;
    border: 1px solid green;
    padding-left: 14px;
    border-radius: 5px;
    margin-top: 8px;
    outline: none;
}

form label {
    font-size: 13px;
    margin-left: 10px;
}

form label:nth-child(3) {
    margin-top: 25px;
    margin-left: 10px;
}

form label:nth-child(5) {
    margin-top: 25px;
}

form label:nth-child(7) {
    margin-top: 25px;
}

form textarea {
    display: block;
    outline: none;
    height: 200px;
    background: #fff;
    padding: 12px;
    resize: none;
    margin-top: 10px;
    border-radius: 5px;
}

form button {
    height: 40px;
    margin-top: 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid green;
    cursor: pointer;
    transition: .4s;
    background-color: green;
    color: white;
}

form button:hover {
    border-radius: 20px;
    transition: .4s;
}

.boglanish-img {
    width: 50%;
    height: 100%;
}

.boglanish-img img {
    width: 500px;
}